---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: https://twitter.com/mmistakes
 *
*/

// Partials
$highlightcolor: {{ site.highlight-color }};
$lowlightcolor: {{ site.lowlight-color }};
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
@import "print";

.hero {
  text-align: center;
  padding: 3rem 1rem 2rem;
  margin-bottom: 2rem;
}



.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
}

.hero-subtitle {
  font-size: 1.35rem;
  color: #444;
}
